<!DOCTYPE html>
<html lang="en">
<head>
 <title>color|_ text</title>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
 <div class="row">Первая строка</div>
 <div class="row">
 <div class="col text-primary">Блок 1</div>
 <div class="col text-secondary">Блок 2</div>
 <div class="col text-success">Блок 3</div>
 <div class="col text-danger">Блок 4</div>
 <div class="col text-warning">Блок 5</div>
 <div class="col text-info">Блок 6</div>
 <div class="col text-light">Блок 7</div>
 <div class="col text-dark">Блок 8</div>
 <div class="col text-muted">Блок 9</div>
 <div class="col text-white">Блок 10</div>
 </div>
</div>
</body>
</html>