<!DOCTYPE html>
<html lang="en">
<head>
 <title>color_text_bg</title>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
 <div class="row">Первая строка</div>
 <div class="row">
 <div class="col text-primary bg-info">Блок1</div>
 <div class="col text-secondary">Блок2</div>
 <div class="col text-success bg-info">Блок3</div>
 <div class="col text-danger">Блок4</div>
 <div class="col text-warning bg-info">Блок5</div>
 <div class="col text-info">Блок6</div>
 <div class="col text-light bg-primary">Блок7</div>
 <div class="col text-dark">Блок8</div>
 <div class="col text-muted bg-info">Блок9</div>
 <div class="col text-white bg-primary">Блок10</div>
 </div>
</div>
</body>
</html>